<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    <script src="https://kit.fontawesome.com/0dab7a2689.js" crossorigin="anonymous"></script>
    {{ partial "head.html" . }}

</head>

<body data-theme="auto">
    {{ partial "scripts-front.html" . }}
    {{ partial "header.html" . }}

    <main>
        <div class="container-lg clearfix">
            <!-- list -->
            <div class="col-12 col-md-9 float-left content">
                {{ block "main" . }}{{ end }}
            </div>
            {{ partial "sidebar.html" . }}
        </div>
        {{ partial "components.html" . }}
    </main>

    {{ partial "footer.html" . }}
    {{ partial "scripts-end.html" . }}
</body>

</html>